.stack-work/
*~
chat.db
wiki/
node_modules/
.env.local
.env.prod
modulus-ai-exe
html_ui
uploads
prompt.txt
modulus-ai-fe/terraform.tfstate.backup
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
